.card-junior {
    align-items: center;
    align-content: center;
    align-self: center;
}

.card-style {
    margin-left: 15px;
    align-items: flex-start;
}

.card-password {
    margin-left: 15px;

}

.card-header {
    background-color: rgb(225, 201, 248);
}

.list-group-item {
    background-color: rgb(225, 201, 248);
}

.btn-secondary {
    background-color: rgb(149, 123, 175);
}

/* .card-body {
    background-color: blueviolet;
} */